<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="../assets//css/reset.css">
        <link rel="stylesheet" href="../assets/css/general.css">
        <link rel="stylesheet" href="../assets/css/style.css">
        <link rel="stylesheet" href="../assets/css/media.css">

    </head>
    <body>

        <header>
            <a href="/"><img alt="Logo de la Nasa" src="../assets/images/logo_nasa.png"></a>
            <nav>
                <div class="nav1">
                    <ul>
                        <li><a href="moonToMars.html" title="Moon to Mars">Moon to Mars</a></li>
                        <li><a href="#2751" title="Earth">Earth</a></li>
                        <li><a href="#3782757" title="Space Tech">Space Tech</a></li>
                        <li><a href="galleries.html" title="Galleries">Galleries</a></li>
                    </ul>
                </div>
            </nav>
            <!-- <a href="#footerOnTheWay">Vers le footer</a> -->
        </header>

        <div class="mainTitle">
            <h1>Mes super tuiles de Mars</h1>
        </div>

        <section style="display:none;" class="layoutTable">
            <table class="mainContent">
                <tr>
                    <td colspan="2" >1</td>
                    <td>2</td>
                    <td colspan="2">3</td>
                </tr>

                <tr>
                    <td rowspan="3">6</td>
                    <td>7</td>
                    <td>8</td>
                    <td>9</td>
                    <td>10</td>
                </tr>

                <tr>
                    <td>11</td>
                    <td colspan="3" rowspan="3">
                        <table class="centerContent">
                            <tr>
                                <td>1</td>
                                <td>2</td>
                                <td>3</td>
                                <td>4</td>
                                <td>5</td>
                            </tr>
            
                            <tr>
                                <td>6</td>
                                <td colspan="3">7</td>
                                <td>8</td>
                            </tr>
            
                            <tr>
                                <td>11</td>
                                <td colspan="3" rowspan="3">12</td>
                                <td>13</td>
                            </tr>
            
                            <tr>
                                <td>16</td>
                                <td>17</td>
                            </tr>
            
                            <tr>
                                <td>21</td>
                                <td>22</td>
                            </tr>
                        </table>

                    </td>
                </tr>

                <tr>
                    <td>16</td>
                </tr>

                <tr>
                    <td>21</td>
                    <td>22</td>
                </tr>
            </table>
        </section>


        

        

        <footer id="footerOnTheWay">
            <ul>
                <li><a href="galleries.html" title="Galleries">Galleries</a></li>
                <li><a href="#" title="Facebook">Facebook</a></li>
                <li><a href="#" title="Twitter">Twitter</a></li>
                <li><a href="#" title="Instagram">Instagram</a></li>
                <li><a href="contact.html" title="Contact">Contact</a></li>
            </ul>
<!-- 
            <form>
                <input value="" type="text">
                <button>Envoyer</button>
            </form> -->
        </footer>


    </body>
</html>