*{
    box-sizing: border-box;
}

a{
    text-decoration:none;
}

*:empty{
    /*
    background-color: red;*/
}


:target {
    background-color: aqua;
}
/*
section article:not(h2){
    color: chartreuse;
}
*/
/*
section article h3:only-of-type
{
    color:chartreuse;
}*/
/*
section article h3:first-of-type
{
    color:chartreuse;
}

section article h3:last-of-type
{
    color:chartreuse;
}
*/
/*
input:valid{
    border:3px solid green;
}

input:invalid{
    border:3px solid red;
}


textarea{
    resize: none;
}*/