@font-face {
    font-family: "Red Hat";
    src: url("../fonts/Red_Hat_Mono/RedHatMono-Regular.ttf");
}

/* selecteur de tag classique */

html{
    font-family: 'Roboto', sans-serif;
    color:rgb(204, 204, 204);
    font-size: 16px;
}

body{
    
    background-color: #223e4b;
    width:100%;
}

header{
    height:120px;
    width:100%;
    padding:15px;
}

header > img{
    max-height: 50%;
    display: block;
    margin: auto;
}

nav{
    margin:0 -10px 0 -10px; /* T R B L */
}


nav div{
    margin-top:15px;
    float: left;
    width: 100%;
}

nav div ul{
    
}

nav div > ul li{
    border:1px solid #99aebe;
    width:25%;
    float:left;
    font-size: 0.8rem;
    text-align: center;
    height:30px;
    line-height: 30px;
    /*box-shadow: 8px 8px 8px white;*/

}

nav div > ul li:hover{
    background-color: #99aebe;
}

nav ul li a{
    color:#99aebe;
    /*text-shadow:1px 2px 2px #ffffff3b;*/
}


nav ul li:hover a{
    color:#223e4b;
}

nav ul li a:active{
    color:#be3e2b;
}

nav ul li a:visited{
    color:#be3e2b;
}




.mainTitle{
    background-color: #be3e2b;
    border:1px solid #811403;
    /* box-shadow:1px 2px 8px #811403; */
    padding:10px;
    /* border-radius: 15px; */
}

.mainTitle h1{
    font-size: 1.5rem;
    font-weight:lighter;
    text-transform: uppercase;
    text-align: center;
}

/* fin */



section{

}

section h2{
    font-size: 1.15rem;
    font-weight:lighter;
    text-transform: uppercase;
    text-align: center;
    border-bottom:1px solid #99aebe;
    padding-bottom:10px;
    padding-top:10px;
}

section h3.subTitleArticle3{
    text-align: center;
    padding-bottom:10px;
    padding-top:10px;
    text-decoration: underline;
}

section > article{ /* Selectionne toutes les balises article directement enfant de section ! */
    border-bottom:2px solid #be3e2b;
}

section:last-of-type{
    margin-top:30px;
}

aside{
    float:left;
    width: 50%;
    border: 1px solid grey;
    padding: 10px;
    margin-bottom:15px;
}
article p{
    text-align: justify;
    padding: 10px;
    line-height: 1.1rem;
}

aside a{
    font-family: "Red Hat";
    font-style:italic;
}

/*
footer#footerOnTheWay ul li:first-child a{
    color:chartreuse;
}

footer#footerOnTheWay ul li:last-child a{
    color:chartreuse;
}

footer#footerOnTheWay ul li:nth-child(3) a{
    color:chartreuse;
}

footer#footerOnTheWay ul li:only-child a{
    color:chartreuse;
}*/
/*
footer#footerOnTheWay ul li:nth-child(odd) a{
    color:#be3e2b;
}

footer#footerOnTheWay ul li:nth-child(even) a{
    color:#ac675d;
}*/
/*
#footerOnTheWay form input:focus{
    border:5px solid #ed8a45;
}*/

footer#footerOnTheWay ul{
    margin-bottom:15px;
    clear: both;
    height: 30px;
    line-height: 30px;
}

footer#footerOnTheWay li{
    float: left;
    width:20%;
    text-align: center;
}
footer#footerOnTheWay ul li a{
    color:#99aebe;
}
footer#footerOnTheWay form{
    clear: both;
}

footer#footerOnTheWay form button:active{
    background-color: #be3e2b;
}