@font-face {
    font-family: "Red Hat";
    src: url("../fonts/Red_Hat_Mono/RedHatMono-Regular.ttf");
}

/* selecteur de tag classique */

html{
    font-family: 'Roboto', sans-serif;
    color:rgb(204, 204, 204);
    font-size: 16px;
}

body{
    
    background-color: #223e4b;
    width:100%;
}

header{
    height:120px;
    width:100%;
    padding:15px;
}

header > img{
    max-height: 50%;
    display: block;
    margin: auto;
}

nav{
    margin:0 -10px 0 -10px; /* T R B L */
}


nav div{
    margin-top:15px;
    float: left;
    width: 100%;
}

nav div ul{
    
}

nav div > ul li{
    border:1px solid #99aebe;
    width:25%;
    float:left;
    font-size: 0.8rem;
    text-align: center;
    height:30px;
    line-height: 30px;
}

nav ul li a{
    color:#99aebe
}


.mainTitle{
    background-color: #be3e2b;
    padding:10px;
}

.mainTitle h1{
    font-size: 1.5rem;
    font-weight:lighter;
    text-transform: uppercase;
    text-align: center;
}

/* fin */



section{

}

section h2{
    font-size: 1.15rem;
    font-weight:lighter;
    text-transform: uppercase;
    text-align: center;
    border-bottom:1px solid #99aebe;
    padding-bottom:10px;
    padding-top:10px;
}

section h3.subTitleArticle3{
    text-align: center;
}

section > article{ /* Selectionne toutes les balises article directement enfant de section ! */
}

article p{
    text-align: justify;
}

aside a{
    font-family: "Red Hat";
    font-style:italic;
}


footer#footerOnTheWay{

}